In [28]:
import pandas as pd

movies = pd.read_csv("datasets_small/movies.csv")
movies = movies.loc[:,["movieId","title"]]
movies

      movieId                                              title
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
5           6                                        Heat (1995)
6           7                                     Sabrina (1995)
7           8                                Tom and Huck (1995)
8           9                                Sudden Death (1995)
9          10                                   GoldenEye (1995)
10         11                     American President, The (1995)
11         12                 Dracula: Dead and Loving It (1995)
12         13                                       Balto (1995)
13         14                                       Nixon (1995)
14         15                            Cutthroat Island (1995)
15         16                                      Casino (1995)
16         17                       Sense and Sensibility (1995)
17         18                                  Four Rooms (1995)
18         19              Ace Ventura: When Nature Calls (1995)
19         20                                 Money Train (1995)
20         21                                  Get Shorty (1995)
21         22                                     Copycat (1995)
22         23                                   Assassins (1995)
23         24                                      Powder (1995)
24         25                           Leaving Las Vegas (1995)
25         26                                     Othello (1995)
26         27                                Now and Then (1995)
27         28                                  Persuasion (1995)
28         29  City of Lost Children, The (Cité des enfants p...
29         30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...       ...                                                ...
9712   188189                         Sorry to Bother You (2018)
9713   188301                        Ant-Man and the Wasp (2018)
9714   188675                                      Dogman (2018)
9715   188751                Mamma Mia: Here We Go Again! (2018)
9716   188797                                         Tag (2018)
9717   188833              The Man Who Killed Don Quixote (2018)
9718   189043                                  Boundaries (2018)
9719   189111                                      Spiral (2018)
9720   189333               Mission: Impossible - Fallout (2018)
9721   189381                                    SuperFly (2018)
9722   189547                                Iron Soldier (2010)
9723   189713                              BlacKkKlansman (2018)
9724   190183                           The Darkest Minds (2018)
9725   190207                                        Tilt (2011)
9726   190209                 Jeff Ross Roasts the Border (2017)
9727   190213                                   John From (2015)
9728   190215                                Liquid Truth (2017)
9729   190219                                       Bunny (1998)
9730   190221  Hommage à Zgougou (et salut à Sabine Mamou) (2...
9731   191005                                     Gintama (2017)
9732   193565                          Gintama: The Movie (2010)
9733   193567  anohana: The Flower We Saw That Day - The Movi...
9734   193571                                Silver Spoon (2014)
9735   193573            Love Live! The School Idol Movie (2015)
9736   193579           Jon Stewart Has Left the Building (2015)
9737   193581          Black Butler: Book of the Atlantic (2017)
9738   193583                       No Game No Life: Zero (2017)
9739   193585                                       Flint (2017)
9740   193587                Bungo Stray Dogs: Dead Apple (2018)
9741   193609                Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [29]:
movies

      movieId                                              title
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
5           6                                        Heat (1995)
6           7                                     Sabrina (1995)
7           8                                Tom and Huck (1995)
8           9                                Sudden Death (1995)
9          10                                   GoldenEye (1995)
10         11                     American President, The (1995)
11         12                 Dracula: Dead and Loving It (1995)
12         13                                       Balto (1995)
13         14                                       Nixon (1995)
14         15                            Cutthroat Island (1995)
15         16                                      Casino (1995)
16         17                       Sense and Sensibility (1995)
17         18                                  Four Rooms (1995)
18         19              Ace Ventura: When Nature Calls (1995)
19         20                                 Money Train (1995)
20         21                                  Get Shorty (1995)
21         22                                     Copycat (1995)
22         23                                   Assassins (1995)
23         24                                      Powder (1995)
24         25                           Leaving Las Vegas (1995)
25         26                                     Othello (1995)
26         27                                Now and Then (1995)
27         28                                  Persuasion (1995)
28         29  City of Lost Children, The (Cité des enfants p...
29         30  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...       ...                                                ...
9712   188189                         Sorry to Bother You (2018)
9713   188301                        Ant-Man and the Wasp (2018)
9714   188675                                      Dogman (2018)
9715   188751                Mamma Mia: Here We Go Again! (2018)
9716   188797                                         Tag (2018)
9717   188833              The Man Who Killed Don Quixote (2018)
9718   189043                                  Boundaries (2018)
9719   189111                                      Spiral (2018)
9720   189333               Mission: Impossible - Fallout (2018)
9721   189381                                    SuperFly (2018)
9722   189547                                Iron Soldier (2010)
9723   189713                              BlacKkKlansman (2018)
9724   190183                           The Darkest Minds (2018)
9725   190207                                        Tilt (2011)
9726   190209                 Jeff Ross Roasts the Border (2017)
9727   190213                                   John From (2015)
9728   190215                                Liquid Truth (2017)
9729   190219                                       Bunny (1998)
9730   190221  Hommage à Zgougou (et salut à Sabine Mamou) (2...
9731   191005                                     Gintama (2017)
9732   193565                          Gintama: The Movie (2010)
9733   193567  anohana: The Flower We Saw That Day - The Movi...
9734   193571                                Silver Spoon (2014)
9735   193573            Love Live! The School Idol Movie (2015)
9736   193579           Jon Stewart Has Left the Building (2015)
9737   193581          Black Butler: Book of the Atlantic (2017)
9738   193583                       No Game No Life: Zero (2017)
9739   193585                                       Flint (2017)
9740   193587                Bungo Stray Dogs: Dead Apple (2018)
9741   193609                Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [43]:
ratings = pd.read_csv("datasets_small/ratings.csv")
ratings = ratings.loc[:,["userId","movieId","rating"]]
ratings.head(10)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0
5       1       70     3.0
6       1      101     5.0
7       1      110     4.0
8       1      151     5.0
9       1      157     5.0

In [50]:
ratings.groupby("userId")["rating"].sum() - (ratings["userId"].value_counts()*ratings["rating"].mean()))

1       200.638780
2        12.954847
3       -41.560722
4        11.663692
5         5.931493
6        -2.488893
7       -41.236662
8         3.426822
9       -11.071621
10      -31.217978
11       17.900353
12       28.450177
13        4.451734
14       -5.074735
15       -7.210193
16       21.847416
17       74.336517
18      115.718394
19     -628.594559
20       21.623210
21     -106.689744
22     -110.685281
23       17.811605
24       16.328732
25       33.959518
26       -5.532697
27        6.289807
28     -274.387481
29       51.873884
30       41.947063
          ...
581      34.937721
582      29.412809
583     -11.587191
584      50.370770
585      50.905024
586     179.676147
587      78.243098
588     -14.087191
589      20.937721
590    -106.133484
591     -12.084077
592       7.853644
593     -24.160369
594      98.138780
595      13.968860
596      -2.639920
597     210.810256
598       6.467303
599   -2129.858205
600    -389.187978
601      93.342745
602     -14.710193
603       6.031764
604      -2.155698
605     -64.344093
606     173.763963
607      53.208844
608    -305.293853
609      -8.557608
610     243.472807
Length: 610, dtype: float64

In [49]:
ratings["userId"].value_counts()*ratings["rating"].mean()

414    9447.200742
599    8676.858205
474    7381.282121
448    6526.902217
274    4713.095700
610    4559.027193
68     4411.961799
380    4264.896406
606    3904.236037
288    3694.142618
249    3662.628605
387    3596.099022
182    3421.021173
307    3414.018059
603    3301.968236
298    3287.962008
177    3165.407513
318    3077.868589
232    3018.342120
480    2927.301638
608    2909.793853
600    2671.687978
590    2549.133484
483    2549.133484
105    2528.124142
19     2461.594559
305    2370.554078
489    2269.008925
111    2262.005811
438    2223.488685
          ...
467      77.034254
245      73.532697
293      73.532697
37       73.532697
439      73.532697
324      73.532697
507      73.532697
364      73.532697
598      73.532697
49       73.532697
157      73.532697
547      73.532697
87       73.532697
549      73.532697
26       73.532697
281      73.532697
320      70.031140
207      70.031140
576      70.031140
194      70.031140
189      70.031140
257      70.031140
147      70.031140
53       70.031140
278      70.031140
406      70.031140
595      70.031140
569      70.031140
431      70.031140
442      70.031140
Name: userId, Length: 610, dtype: float64

In [31]:
data = pd.merge(movies,ratings)

In [32]:
data.title.name

'title'

In [33]:
import numpy as np

l1 = [312,123]
l2 = [1,3]
print(len(l1))
print(len(l2))
np.corrcoef(l1,l2)

2
2

array([[ 1., -1.],
       [-1.,  1.]])

In [34]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix

user_u = list(sorted(data.userId.unique()))
movie_u = list(sorted(data.movieId.unique()))

row = data.userId.astype('category', categories=user_u).cat.codes
col = data.movieId.astype('category', categories=movie_u).cat.codes

rate = data['rating'].tolist()

sparse_matrix = csr_matrix((rate, (row, col)), shape=(len(user_u), len(movie_u)))

df = pd.SparseDataFrame([ pd.SparseSeries(sparse_matrix[i].toarray().ravel(), fill_value=0) 
                              for i in np.arange(sparse_matrix.shape[0]) ], 
                       index=user_u, columns=movie_u, default_fill_value=0)

C:\Users\Bruno Reis\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead

C:\Users\Bruno Reis\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  if __name__ == '__main__':

In [35]:
pivot_table = data.pivot_table(index = "userId",columns = "title",values = "rating")
pivot_table.head(10)

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
Average_ratings = pd.DataFrame(data.groupby('title')['rating'].mean())
Average_ratings['Total Ratings'] = pd.DataFrame(data.groupby('title')['rating'].count())
Average_ratings.head(10)

                                           rating  Total Ratings
title
'71 (2014)                               4.000000              1
'Hellboy': The Seeds of Creation (2004)  4.000000              1
'Round Midnight (1986)                   3.500000              2
'Salem's Lot (2004)                      5.000000              1
'Til There Was You (1997)                4.000000              2
'Tis the Season for Love (2015)          1.500000              1
'burbs, The (1989)                       3.176471             17
'night Mother (1986)                     3.000000              1
(500) Days of Summer (2009)              3.666667             42
*batteries not included (1987)           3.285714              7

In [61]:
movie_watched = pivot_table["Invictus (2009)"]

correlations_zoolander = pivot_table.corrwith(movie_watched).sort_values(ascending=False)
correlations_zoolander.head()

C:\Users\Bruno Reis\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2392: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\Bruno Reis\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2326: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

title
Clueless (1995)                                               1.0
For a Few Dollars More (Per qualche dollaro in più) (1965)    1.0
Punisher, The (2004)                                          1.0
Wallace & Gromit: A Close Shave (1995)                        1.0
Proof (2005)                                                  1.0
dtype: float64

In [62]:
recommendation = pd.DataFrame(correlations_zoolander,columns=['Correlation'])
recommendation.dropna(inplace=True)
recommendation = recommendation.join(Average_ratings['Total Ratings'])
recommendation.head()

                                                    Correlation  Total Ratings
title
Clueless (1995)                                             1.0            104
For a Few Dollars More (Per qualche dollaro in ...          1.0             33
Punisher, The (2004)                                        1.0             14
Wallace & Gromit: A Close Shave (1995)                      1.0             48
Proof (2005)                                                1.0              7

In [63]:
recc = recommendation[recommendation['Total Ratings']>100].sort_values('Correlation',ascending=False).reset_index()

In [64]:
recc.head()

                                title  Correlation  Total Ratings
0                     Clueless (1995)     1.000000            104
1                      Aladdin (1992)     1.000000            183
2  Four Weddings and a Funeral (1994)     1.000000            103
3            Kill Bill: Vol. 1 (2003)     0.953463            131
4                    Rock, The (1996)     0.870388            121